	<!-- About Section -->
	<section id="meettheteam" class="container content-section text-center center">
		<div class="row">
			<div class="col">
				<h2>Meet the Team</h2>
				<p>We are two brothers and a cousin in Montreal. <br />
				We plan to make automated anesthesia a reality in Canada.</p>
			</div>
		</div>
		<div class="row">
		    <div class="col-sm-4">
			    <img src="img/samuel.jpg"/>
                            <h3 class="founder-name">Samuel Laferriere </h3>
				<p> M.Sc. in Machine Learning for Neuroscience at Mila </p>
			</div>
			<div class="col-sm-4">
			    <img src="img/philippe.jpg">
			    <h3 class="founder-name">Philippe Laferriere </h3>
			    <p> M.Sc. in Machine Learning for Robotics at Mila </p>
			</div>
			<div class="col-sm-4">
			    <img src="img/pascal.jpg">
			    <h3 class="founder-name">Pascal Laferriere-Langlois </h3>
			    <p> M.D. anesthesiologist at Maisonneuve-Rosemont Hospital (HMR) </p>
			</div>
		</div>

	</section>
